
header {
  width: 100%;
}

#header-container {
  display: flex;
  height: 60px;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;
}

#logo {
  display: flex;
  align-items: center;
}
.logo-main {
  font-size: 32px;
}

.logo-sub {
  font-size: 16px;
  margin-left: 20px;
}

#header-right {
  display: flex;
}

#header-lists {
  display: flex;
  align-items: center;
  margin-right: 150px;
}

.header-list {
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-right: 1px solid gray;
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.header-list-item {
  font-size: 20px;
  font-weight: 500;
  color: black;
}

#header-user {
  width: 150px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  position: absolute;
  top: 5px;
  right: 50px;
}

#heder-user li{
  position: relative;
}