
header {
  width: 100%;
}

#header-container {
  display: flex;
  height: 60px;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;
}

#logo {
  display: flex;
  align-items: center;
}
.logo-main {
  font-size: 32px;
}

.logo-sub {
  font-size: 16px;
  margin-left: 20px;
}

#header-right {
  display: flex;
}

#header-lists {
  display: flex;
  align-items: center;
  margin-right: 150px;
}

.header-list {
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-right: 1px solid gray;
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.header-list-item {
  font-size: 20px;
  font-weight: 500;
  color: black;
}

#header-user {
  width: 150px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  position: absolute;
  top: 5px;
  right: 50px;
}

#header-user-name span{
  font-size: 12px;
}

#hidden{
  position: relative;
  display: none;
  font-size: 14px;
  background-color: white;
  opacity: 0.99;
  border: 1px solid black;
}

.hidden-list {
  border-bottom: 1px solid black;
}
/* レスポンシブデザイン タブレット表示*/
@media (max-width: 1024px) {
  #header-container {
    padding: 0 20px;
  }
  .logo-main {
    font-size: 26px;
  }
  
  .logo-sub {
    font-size: 12px;
    margin-left: 10px;
  }

  #header-right {
    justify-content: right;
    width: 75%;
  }
  
  #header-lists {
    margin: 0;
    padding-right: 100px;
  }
  
  .header-list {
    width: 100px;
    font-size: 14px;
  }
  
  #header-user {
    width: 100px;
    font-size: 12px;
    right: 10px;
  }
  
  #header-user-name span{
    font-size: 8px;
  }

  #hidden {
    font-size: 12px;
  }
}