<header>
  <div id="header-container">
    <div id="logo">
      <h2>勿 忘</h2>
      <p>Wasurena</p>
    </div>
    <div id="header-right">
      <ul id="header-lists">
        <li class="header-list"><a class="header-list-item" href="#"></a></li>
        <li class="header-list"><a class="header-list-item" href="#">グループ作成</a></li>
        <li class="header-list"><a class="header-list-item" href="#">新規登録</a></li>
        <li class="header-list"><a class="header-list-item" href="#">ログイン</a></li>
      </ul>
      <div id="header-user">
        <p>ユーザー名</p>
      </div>
    </div>
  </div>
</header>