<%= render partial:'shared/header' %>
<div class="main-page">
  <div class="home-index">
    <p>勿忘(Wasurena)をご利用いただきありがとうございます。</p>
    <p>当サイトは保育園や幼稚園の送迎バスの降ろし忘れをなくすためのアプリケーションです。</p>
    <p>使用方法</p>
    <p>①：ユーザ登録していただき、グループを作成します。</p>
    <p>②：グループを選択すると児童一覧、児童登録、クラス作成、送迎作成をする事が出来ます。</p>
    <p>③：児童は名前、クラス、送迎種類を選択する事が出来ます。</p>
    <p>④：サイドバーより選択したクラス、送迎に登録されている児童が表示されます。</p>
    <p>⑤：乗車・降車・出席・欠席ボタンを押すことで動作します。</p>
    <p>⑥：ユーザー名をクリックするとログアウト、各リセット機能(グループ内)の表示が出ます</p>
  </div>
  <div class="news">
    <ul>
      <li>
        <p>2022/12/14</p>
        <p>アプリ作成開始</p>
      </li>
      <li>
        <p>2022/12/28</p>
        <p>アプリ本番環境試験(バージョン0)</p>
      </li>
      <li>
        <p>2022/1/13</p>
        <p>アップデート(バージョン0.1) ・リンク不具合修正、グループに複数ユーザーを追加する機能を実装</p>
      </li>
    </ul>
  </div>
</div>