.student-show-main{
  display: flex;
}

.student-show {
  text-align: center;
  width: 50%;
}
.student-name {
  font-size: 20px;
  margin: 50px 0 20px 0;
}

.image {
  width: 30vw;
  height: 30vh;
  object-fit: contain;
  border: 1px solid black;
  margin-bottom: 10px;
}
.student-items {
  width: 30vw;
  margin: 0 auto;
}

.student-item {
  margin: 10px 0;
}

.student-comments {
  width: 50%;
  padding: 0 10px;
}

.comment {
  border-bottom: 1px solid gray;
}

.comment-content {
  font-size: 18px;
  padding: 5px;
  width: 100%
}

.comment-user {
  color: grey;
  padding: 5px;
  text-align: end;
}