<div class="group-index">
  <div class="sidebar">
    <div id="sidebar-top">
      <p>グループ一覧</p>
    </div>
    <div class="sidebar-index">
      <ul id="sidebar-lists">
      <% @user_rooms.each do |r| %>
        <li class="sidebar-list">
        <%= link_to r.room.name, rooms_path, class:"room-link" %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
  <div class="main">
    <div id="main-top">
    </div>
  </div>
</div>