<%= render partial:'shared/second_header' %>
<div class="main-page">
  <div class="group-index">
    <div class="sidebar">
      <div id="sidebar-top">
        <p><%= @room.name %></p>
        <%= link_to "編集",  room_path, class:"edit"%>
      </div>
      <div class="sidebar-index">
        <ul id="sidebar-lists">
        <% @user_rooms.each do |r| %>
          <li class="sidebar-list">
          <%= link_to r.room.name, room_path(id:r.room.id), class:"room-link" %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
    <div class="main">
      <div id="main-top">
      <%# 選択されたクラス、送迎名を表示する %>
        <p>クラス登録なし</p>
      <%# 選択されたクラス、送迎の編集ページへリンクする %>
        <%# <a href="#"></a> %>
      </div>
      <div id="main-index">
        <ul id="main-lists">
          <li class="main-list">

          <%# Studentsから所属している児童がある場合表示する %>

            <p class="student-last-name">おかだ</p>
            <p class="student-first-name">りく</p>
            <ul id="index-button-lists">

            <%# Javascriptを使ってでクリックした時にボタンの色を変える %>

              <li class="index-button-list">
                <input type="submit" class="index-button"id="ride-on"value="乗車">
              </li>
              <li class="index-button-list">
                <input type="submit" class="index-button"id="ride-off"value="降車">
              </li>
              <li class="index-button-list">
                <input type="submit" class="index-button"id="attendance"value="出席">
              </li>
              <li class="index-button-list">
                <input type="submit" class="index-button"id="absence"value="欠席">
              </li>
            </ul>
          </li>
          <li class="main-list">
            <p class="student-last-name">いのうえ</p>
            <p class="student-first-name">きくこ</p>
            <ul id="index-button-lists">
              <li class="index-button-list">
                <input type="submit" class="index-button"id="ride-on"value="乗車">
              </li>
              <li class="index-button-list">
                <input type="submit" class="index-button"id="ride-off"value="降車">
              </li>
              <li class="index-button-list">
                <input type="submit" class="index-button"id="attendance"value="出席">
              </li>
              <li class="index-button-list">
                <input type="submit" class="index-button"id="absence"value="欠席">
              </li>
            </ul>
          </li>  
          <li class="main-list">
            <p class="student-last-name">はなざわ</p>
            <p class="student-first-name">かな</p>
            <ul id="index-button-lists">
              <li class="index-button-list">
                <input type="submit" class="index-button"id="ride-on"value="乗車">
              </li>
              <li class="index-button-list">
                <input type="submit" class="index-button"id="ride-off"value="降車">
              </li>
              <li class="index-button-list">
                <input type="submit" class="index-button"id="attendance"value="出席">
              </li>
              <li class="index-button-list">
                <input type="submit" class="index-button"id="absence"value="欠席">
              </li>
            </ul>
          </li>  
          <li class="main-list">
            <p class="student-last-name">みなせ</p>
            <p class="student-first-name">いのり</p>
            <ul id="index-button-lists">
              <li class="index-button-list">
                <input type="submit" class="index-button"id="ride-on"value="乗車">
              </li>
              <li class="index-button-list">
                <input type="submit" class="index-button"id="ride-off"value="降車">
              </li>
              <li class="index-button-list">
                <input type="submit" class="index-button"id="attendance"value="出席">
              </li>
              <li class="index-button-list">
                <input type="submit" class="index-button"id="absence"value="欠席">
              </li>
            </ul>
          </li>        
        </ul>
      </div>
    </div>
  </div>
</div>