<div class="group-index">
  <div class="sidebar">
    <div id="sidebar-top">
      <p>さくらが丘幼稚園</p>
    </div>
    <div class="sidebar-index">
      <ul id="sidebar-lists">
        <li class="sidebar-list">ひよこ組</li>
        <li class="sidebar-list"->りす組</li>
        <li class="sidebar-list"->きりん組</li>
        <li class="sidebar-list"->送迎１組</li>
        <li class="sidebar-list"->送迎２組</li>
        <li class="sidebar-list"->他</li>
      </ul>
    </div>
  </div>
  <div class="main">
    <div id="main-top">
      <p>ひよこ組</p>
      <a href="#">編集</a>
    </div>
    <div id="main-index">
      <ul id="main-lists">
        <li class="main-list">
          <p class="student-last-name">おかだ</p>
          <p class="student-first-name">りく</p>
          <ul id="index-button-lists">
            <li class="index-button-list">
              <input type="submit" class="index-button"id="ride-on"value="乗車">
            </li>
            <li class="index-button-list">
              <input type="submit" class="index-button"id="ride-off"value="降車">
            </li>
            <li class="index-button-list">
              <input type="submit" class="index-button"id="attendance"value="出席">
            </li>
            <li class="index-button-list">
              <input type="submit" class="index-button"id="absence"value="欠席">
            </li>
          </ul>
        </li>
        <li class="main-list">
          <p class="student-last-name">いのうえ</p>
          <p class="student-first-name">きくこ</p>
          <ul id="index-button-lists">
            <li class="index-button-list">
              <input type="submit" class="index-button"id="ride-on"value="乗車">
            </li>
            <li class="index-button-list">
              <input type="submit" class="index-button"id="ride-off"value="降車">
            </li>
            <li class="index-button-list">
              <input type="submit" class="index-button"id="attendance"value="出席">
            </li>
            <li class="index-button-list">
              <input type="submit" class="index-button"id="absence"value="欠席">
            </li>
          </ul>
        </li>  
        <li class="main-list">
          <p class="student-last-name">はなざわ</p>
          <p class="student-first-name">かな</p>
          <ul id="index-button-lists">
            <li class="index-button-list">
              <input type="submit" class="index-button"id="ride-on"value="乗車">
            </li>
            <li class="index-button-list">
              <input type="submit" class="index-button"id="ride-off"value="降車">
            </li>
            <li class="index-button-list">
              <input type="submit" class="index-button"id="attendance"value="出席">
            </li>
            <li class="index-button-list">
              <input type="submit" class="index-button"id="absence"value="欠席">
            </li>
          </ul>
        </li>  
        <li class="main-list">
          <p class="student-last-name">みなせ</p>
          <p class="student-first-name">いのり</p>
          <ul id="index-button-lists">
            <li class="index-button-list">
              <input type="submit" class="index-button"id="ride-on"value="乗車">
            </li>
            <li class="index-button-list">
              <input type="submit" class="index-button"id="ride-off"value="降車">
            </li>
            <li class="index-button-list">
              <input type="submit" class="index-button"id="attendance"value="出席">
            </li>
            <li class="index-button-list">
              <input type="submit" class="index-button"id="absence"value="欠席">
            </li>
          </ul>
        </li>        
      </ul>
    </div>
  </div>
</div>