/* 入力フォーム */
.form { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  margin: 20px 0;
  font-size: 26px;
  font-weight: 600;
}

.field {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid gray;
  align-items: center;
}

.form-label {
  width: 200px;
  text-align: end;
  padding-right: 10px;
}


.form-field input{
  width: 400px;
  height: 40px;
  font-size: 16px;
  border: 1px solid black;
  padding: 0 10px;
}

.actions {
  margin: 20px;
  display: flex;
  flex-direction: column;
  line-height: 40px;
  align-items: center;
}

.actions span {
  width: 100px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}

.destroy {
  
  margin-top: 100px;
  background-color: grey;
}

.destroy-button {
  color: white;
}

.select-box {
  width: 400px;
  height: 40px;
  border: 1px solid black;
  appearance: auto;
}
